body {
  padding: 50px;
  font: 18px Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: #000;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 48px;
  text-align: center;
}

p {
  font-size: 24px;
  text-align: center;
}
